# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Conda
environment.yml
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data
data/models/
data/vectors/
logs/

# Docker
Dockerfile
docker-compose.yml
